<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GUI.Properties.Settings>
            <setting name="BrojRedaka" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BrojStupaca" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PostavljanjeFlote" serializeAs="String">
                <value>SurroundingSquareEliminator</value>
            </setting>
            <setting name="Odigrano" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pobjede" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Porazi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ListaBrodova" serializeAs="String">
                <value>4,3,2</value>
            </setting>
        </GUI.Properties.Settings>
    </userSettings>
</configuration>